<div class="container">
    <div class="heading">
        <div class="burger-img"></div>
        <h1 class="title">Eat a Yummy Burger!</h1>
    </div>

    <div class="main-section">

        <form class="create-form">
            <div class="form-group">
                <textarea id="burger-request" class="form-control" rows="4" cols="50"></textarea>
            </div>

            <button id="submit" type="submit" class="btn btn-info">Submit</button>
            <p>Enter your favorit burger and click "Submit".</p>
        </form>

        <div class="burger-list">
            <ul>
                {{#each burgers}}
                    {{#if sleepy}}
                        {{> cats/cat-block sleep=false}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>

    </div>    

</div>