

.container {
    margin: 40px auto;
}
.header, .main-section {
    width: 900px;
    margin: 10px auto;

}

.header {
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px 5px 15px 3px rgba(115, 115, 115, 0.22)
}

.burger-img {
    background: url('../img/eat-a-burger.jpg') center / 230% auto no-repeat;
    width: 133px;
    height: 150px;
    margin: 10px auto;
    border-radius: 35px;
}

.create-form {
    width: 372px;
    margin: 30px auto 10px;
    text-align: center;

}

label { 
    display: block;
    font-weight: normal;
}

#submit {
    font-weight: 700;
    letter-spacing: 0.09em;
    margin: 5px auto;
    padding: 10px 50px;
}

.display-area {
    width: 800px;
    margin: 40px auto 10px;
    display: flex;
    justify-content: space-between;
}

.display-area ul {
    width: 270px;
}
.display-area li.burger-item {
    width: 100%;
    margin: 15px 0;
    padding: 10px 0;
    list-style: none;
    position: relative;
    text-align: center;
    background: rgb(224, 224, 224);
}
li.burger-item button {
    position: absolute;
    top: 3px;
    right: -77%;
}

li.burger-item .delete {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}